In [1]:

# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing libraries
import warnings
warnings.filterwarnings("ignore")

from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from mlxtend.classifier import StackingCVClassifier
from mlxtend.regressor import StackingCVRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.naive_bayes import GaussianNB 
from sklearn import model_selection
from xgboost import XGBClassifier
from xgboost import XGBRegressor
from sklearn.model_selection import GridSearchCV

In [2]:
#Loading the train_test_csv
final_df = pd.read_csv("../final/final_df.csv")

In [3]:
final_df

,device_id,gender,cluster_id,phone_brand,train_test_flag,label_id,age_group,total_events,longitude_median,latitude_median,week_day,hour,final_category
0,6200336717510300000,M,0,nokia,train,548,32+,428,30.61,103.90,6,22,Industry
1,6200336717510300000,M,0,nokia,train,262,32+,428,30.61,103.90,6,22,Buy
2,6200336717510300000,M,0,nokia,train,251,25-32,428,30.61,103.90,6,22,finance
3,6200336717510300000,M,0,nokia,train,1008,0-24,428,30.61,103.90,6,22,Buy
4,6200336717510300000,M,0,nokia,train,786,0-24,428,30.61,103.90,6,22,Entertainment
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9882332,-873890590419172000,M,1,OPPO,train,713,NaN,4,22.78,113.88,3,20,finance
9882333,-873890590419172000,M,1,OPPO,train,548,NaN,4,22.78,113.88,3,20,Industry
9882334,-873890590419172000,M,1,OPPO,train,704,NaN,4,22.78,113.88,3,20,Industry
9882335,-873890590419172000,M,1,OPPO,train,42,NaN,4,22.78,113.88,3,20,games
9882336,-873890590419172000,M,1,OPPO,train,100,NaN,4,22.78,113.88,3,20,Custom label

In [4]:
final_df.isnull().sum()

device_id                 0
gender                    0
cluster_id                0
phone_brand               0
train_test_flag           0
label_id                  0
age_group           9019973
total_events              0
longitude_median          0
latitude_median           0
week_day                  0
hour                      0
final_category            0
dtype: int64

In [5]:
final_df = final_df[~final_df['age_group'].isnull()]

In [6]:
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(final_df.final_category)

In [7]:
final_df["category_code"]=integer_encoded

In [8]:
brand_encoded = label_encoder.fit_transform(final_df.phone_brand)
final_df["phone_brands_code"]=brand_encoded

In [9]:
final_df["train_test_flag"].value_counts()

train    643237
test     219127
Name: train_test_flag, dtype: int64

In [10]:
#Converting categorial columns to dummy variables
categorical_columns = ['week_day','hour','age_group','category_code','phone_brands_code']
pd.get_dummies(data=final_df, columns=categorical_columns, drop_first=True).columns

Index(['device_id', 'gender', 'cluster_id', 'phone_brand', 'train_test_flag',
       'label_id', 'total_events', 'longitude_median', 'latitude_median',
       'final_category', 'week_day_1', 'week_day_2', 'week_day_3',
       'week_day_4', 'week_day_5', 'week_day_6', 'hour_1', 'hour_2', 'hour_3',
       'hour_4', 'hour_5', 'hour_6', 'hour_7', 'hour_8', 'hour_9', 'hour_10',
       'hour_11', 'hour_12', 'hour_13', 'hour_14', 'hour_15', 'hour_16',
       'hour_17', 'hour_18', 'hour_19', 'hour_20', 'hour_21', 'hour_22',
       'hour_23', 'age_group_25-32', 'age_group_32+', 'category_code_1',
       'category_code_2', 'category_code_3', 'category_code_4',
       'category_code_5', 'category_code_6', 'category_code_7',
       'category_code_8', 'category_code_9', 'category_code_10',
       'phone_brands_code_1', 'phone_brands_code_2', 'phone_brands_code_3',
       'phone_brands_code_4', 'phone_brands_code_5', 'phone_brands_code_6',
       'phone_brands_code_7', 'phone_brands_code_8', 'phone_brands_code_9',
       'phone_brands_code_10', 'phone_brands_code_11', 'phone_brands_code_12',
       'phone_brands_code_13', 'phone_brands_code_14', 'phone_brands_code_15',
       'phone_brands_code_16', 'phone_brands_code_17', 'phone_brands_code_18',
       'phone_brands_code_19', 'phone_brands_code_20', 'phone_brands_code_21',
       'phone_brands_code_22', 'phone_brands_code_23', 'phone_brands_code_24',
       'phone_brands_code_25', 'phone_brands_code_26', 'phone_brands_code_27',
       'phone_brands_code_28', 'phone_brands_code_29', 'phone_brands_code_30',
       'phone_brands_code_31', 'phone_brands_code_32', 'phone_brands_code_33',
       'phone_brands_code_34', 'phone_brands_code_35', 'phone_brands_code_36',
       'phone_brands_code_37', 'phone_brands_code_38'],
      dtype='object')

In [11]:
final_df=pd.get_dummies(data=final_df, columns=categorical_columns, drop_first=True)

In [12]:
#Test data prep
final_df["gender"].value_counts()
final_df["gender"]=final_df["gender"].apply(lambda x : 0 if x=='F' else 1)
final_df["gender"].value_counts()

1    648600
0    213764
Name: gender, dtype: int64

In [13]:
df_test=final_df[final_df["train_test_flag"]=="test"]
df_test["gender"].value_counts()

1    165857
0     53270
Name: gender, dtype: int64

In [14]:
y_test=df_test["gender"]

In [15]:
x_test=df_test.drop(columns=["gender","final_category","train_test_flag","label_id","phone_brand"])

In [16]:
from sklearn.preprocessing import StandardScaler
x_test["total_events"]=StandardScaler().fit_transform(x_test[["total_events"]])
x_test["longitude_median"]=StandardScaler().fit_transform(x_test[["longitude_median"]])
x_test["latitude_median"]=StandardScaler().fit_transform(x_test[["latitude_median"]])

In [17]:
x_test.columns

Index(['device_id', 'cluster_id', 'total_events', 'longitude_median',
       'latitude_median', 'week_day_1', 'week_day_2', 'week_day_3',
       'week_day_4', 'week_day_5', 'week_day_6', 'hour_1', 'hour_2', 'hour_3',
       'hour_4', 'hour_5', 'hour_6', 'hour_7', 'hour_8', 'hour_9', 'hour_10',
       'hour_11', 'hour_12', 'hour_13', 'hour_14', 'hour_15', 'hour_16',
       'hour_17', 'hour_18', 'hour_19', 'hour_20', 'hour_21', 'hour_22',
       'hour_23', 'age_group_25-32', 'age_group_32+', 'category_code_1',
       'category_code_2', 'category_code_3', 'category_code_4',
       'category_code_5', 'category_code_6', 'category_code_7',
       'category_code_8', 'category_code_9', 'category_code_10',
       'phone_brands_code_1', 'phone_brands_code_2', 'phone_brands_code_3',
       'phone_brands_code_4', 'phone_brands_code_5', 'phone_brands_code_6',
       'phone_brands_code_7', 'phone_brands_code_8', 'phone_brands_code_9',
       'phone_brands_code_10', 'phone_brands_code_11', 'phone_brands_code_12',
       'phone_brands_code_13', 'phone_brands_code_14', 'phone_brands_code_15',
       'phone_brands_code_16', 'phone_brands_code_17', 'phone_brands_code_18',
       'phone_brands_code_19', 'phone_brands_code_20', 'phone_brands_code_21',
       'phone_brands_code_22', 'phone_brands_code_23', 'phone_brands_code_24',
       'phone_brands_code_25', 'phone_brands_code_26', 'phone_brands_code_27',
       'phone_brands_code_28', 'phone_brands_code_29', 'phone_brands_code_30',
       'phone_brands_code_31', 'phone_brands_code_32', 'phone_brands_code_33',
       'phone_brands_code_34', 'phone_brands_code_35', 'phone_brands_code_36',
       'phone_brands_code_37', 'phone_brands_code_38'],
      dtype='object')

In [18]:
#Saving the Test Data
x_test.to_csv(r'test_data_gender.csv', index = False)

In [19]:
x_test

,device_id,cluster_id,total_events,longitude_median,latitude_median,week_day_1,week_day_2,week_day_3,week_day_4,week_day_5,...,phone_brands_code_29,phone_brands_code_30,phone_brands_code_31,phone_brands_code_32,phone_brands_code_33,phone_brands_code_34,phone_brands_code_35,phone_brands_code_36,phone_brands_code_37,phone_brands_code_38
10707,7611575855132890000,0,-0.339494,0.209077,0.445227,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10708,7611575855132890000,0,-0.339494,0.209077,0.445227,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10709,7611575855132890000,0,-0.339494,0.209077,0.445227,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10710,7611575855132890000,0,-0.339494,0.209077,0.445227,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10711,7611575855132890000,0,-0.339494,0.209077,0.445227,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8865495,-2377836019195850000,1,-0.789029,-0.082396,-0.129959,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8865496,-2377836019195850000,1,-0.789029,-0.082396,-0.129959,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8865497,-2377836019195850000,1,-0.789029,-0.082396,-0.129959,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8865498,-2377836019195850000,1,-0.789029,-0.082396,-0.129959,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8865499,-2377836019195850000,1,-0.789029,-0.082396,-0.129959,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
test_data = pd.read_csv(r"test_data_gender.csv")

In [21]:
test_data.columns

Index(['device_id', 'cluster_id', 'total_events', 'longitude_median',
       'latitude_median', 'week_day_1', 'week_day_2', 'week_day_3',
       'week_day_4', 'week_day_5', 'week_day_6', 'hour_1', 'hour_2', 'hour_3',
       'hour_4', 'hour_5', 'hour_6', 'hour_7', 'hour_8', 'hour_9', 'hour_10',
       'hour_11', 'hour_12', 'hour_13', 'hour_14', 'hour_15', 'hour_16',
       'hour_17', 'hour_18', 'hour_19', 'hour_20', 'hour_21', 'hour_22',
       'hour_23', 'age_group_25-32', 'age_group_32+', 'category_code_1',
       'category_code_2', 'category_code_3', 'category_code_4',
       'category_code_5', 'category_code_6', 'category_code_7',
       'category_code_8', 'category_code_9', 'category_code_10',
       'phone_brands_code_1', 'phone_brands_code_2', 'phone_brands_code_3',
       'phone_brands_code_4', 'phone_brands_code_5', 'phone_brands_code_6',
       'phone_brands_code_7', 'phone_brands_code_8', 'phone_brands_code_9',
       'phone_brands_code_10', 'phone_brands_code_11', 'phone_brands_code_12',
       'phone_brands_code_13', 'phone_brands_code_14', 'phone_brands_code_15',
       'phone_brands_code_16', 'phone_brands_code_17', 'phone_brands_code_18',
       'phone_brands_code_19', 'phone_brands_code_20', 'phone_brands_code_21',
       'phone_brands_code_22', 'phone_brands_code_23', 'phone_brands_code_24',
       'phone_brands_code_25', 'phone_brands_code_26', 'phone_brands_code_27',
       'phone_brands_code_28', 'phone_brands_code_29', 'phone_brands_code_30',
       'phone_brands_code_31', 'phone_brands_code_32', 'phone_brands_code_33',
       'phone_brands_code_34', 'phone_brands_code_35', 'phone_brands_code_36',
       'phone_brands_code_37', 'phone_brands_code_38'],
      dtype='object')

In [24]:
test_data.head()

,device_id,cluster_id,total_events,longitude_median,latitude_median,week_day_1,week_day_2,week_day_3,week_day_4,week_day_5,...,phone_brands_code_29,phone_brands_code_30,phone_brands_code_31,phone_brands_code_32,phone_brands_code_33,phone_brands_code_34,phone_brands_code_35,phone_brands_code_36,phone_brands_code_37,phone_brands_code_38
0,7611575855132890000,0,-0.339494,0.209077,0.445227,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7611575855132890000,0,-0.339494,0.209077,0.445227,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7611575855132890000,0,-0.339494,0.209077,0.445227,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7611575855132890000,0,-0.339494,0.209077,0.445227,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7611575855132890000,0,-0.339494,0.209077,0.445227,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
import pickle
gender_model = pickle.load(open('gender_pred.pkl', 'rb'))

In [26]:
x_test = test_data

In [27]:
#gender_predict = gender_model.predict(x_test)

In [ ]:
final_df = pd.read_csv("../final/final_df.csv")
final_df.columns

In [ ]:
final_df = final_df[~final_df['age_group'].isnull()]

In [ ]:
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(final_df.final_category)
final_df["category_code"]=integer_encoded

In [ ]:
final_df["category_code"]=integer_encoded

In [ ]:
brand_encoded = label_encoder.fit_transform(final_df.phone_brand)
final_df["phone_brands_code"]=brand_encoded

In [ ]:
#Converting categorial columns to dummy variables
categorical_columns = ['week_day','hour','category_code','phone_brands_code']
pd.get_dummies(data=final_df, columns=categorical_columns, drop_first=True).columns

In [ ]:
final_df=pd.get_dummies(data=final_df, columns=categorical_columns, drop_first=True)

In [ ]:
df_test=final_df[final_df["train_test_flag"]=="test"]

In [ ]:
y_test=final_df["age_group"]

In [ ]:
x_test=final_df.drop(columns=["gender","age_group","final_category","train_test_flag","label_id","phone_brand"])

In [ ]:
x_test["total_events"]=StandardScaler().fit_transform(x_test[["total_events"]])
x_test["longitude_median"]=StandardScaler().fit_transform(x_test[["longitude_median"]])
x_test["latitude_median"]=StandardScaler().fit_transform(x_test[["latitude_median"]])

In [ ]:
x_test.head()

In [ ]:
#Saving the Test Data
x_test.to_csv(r'test_data_age.csv', index = False)

In [ ]:
test_data = pd.read_csv(r"test_data_age.csv")

In [ ]:
test_data.columns

In [ ]:
test_data.head()